body{
    font-family: "Merriweather", serif;
    background-color: #fff9e1;
    color: #477660;
    padding: 30px 70px;
}

h1{
    font-weight: 900;
}

ol li{
    margin: 5px 0;
}

#imgs img{
    width: 400px;
    height: 250px;
}